.vscode-server/.cli.fee1edb8d6d72a0ddff41e5f71a671c23ed924b9.log
.vscode-server/data/User/workspaceStorage/fc0cbc0939dd42c9cf9fb917b040e657/vscode.lock
.vscode-server/data/logs/20240903T002647/ptyhost.log
.vscode-server/data/logs/20240903T002647/remoteagent.log
.vscode-server/data/logs/20240903T002647/exthost2/remoteexthost.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.1.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.2.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.3.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.4.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.log
.vscode-server/data/logs/20240903T002647/exthost3/remoteexthost.log
.vscode-server/.cli.fee1edb8d6d72a0ddff41e5f71a671c23ed924b9.log
.vscode-server/data/User/History/-7260770b/entries.json
.vscode-server/data/User/History/-7260770b/RVQT
.vscode-server/data/logs/20240903T002647/ptyhost.log
.vscode-server/data/logs/20240903T002647/remoteagent.log
.vscode-server/data/logs/20240903T002647/exthost2/remoteexthost.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.1.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.2.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.3.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.log
.vscode-server/data/logs/20240903T002647/exthost3/vscode.git/Git.log
.vscode-server/data/logs/20240903T002647/exthost3/vscode.github/GitHub.log
.vscode-server/data/User/History/-7260770b/qkmc
.vscode-server/data/logs/20240903T002647/ptyhost.log
.vscode-server/data/logs/20240903T002647/remoteagent.log
.vscode-server/data/logs/20240903T002647/exthost2/remoteexthost.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.1.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.2.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.3.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.log
.vscode-server/data/logs/20240903T002647/exthost2/remoteexthost.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.1.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.2.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.3.log
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.log
