node_modules
/Respaldo al 6 de mayo am
.idea/misc.xml
.idea/modules.xml
.idea/Teltonika.iml
.idea/vcs.xml
config/config.json
/config
token_id.txt
src/utils/paso.js
.vscode-server/data/User/History/-7260770b/entries.json
.vscode-server/data/User/History/-7260770b/qkmc
.vscode-server/data/User/History/-7260770b/RVQT
.vscode-server/data/User/workspaceStorage/fc0cbc0939dd42c9cf9fb917b040e657/vscode.lock
.vscode-server/data/logs/20240903T002647/exthost2/vscode.git/Git.4.log
.vscode-server/data/logs/20240903T002647/exthost3/remoteexthost.log
.vscode-server/data/logs/20240903T002647/exthost3/vscode.git/Git.log
.vscode-server/data/logs/20240903T002647/exthost3/vscode.github/GitHub.log
.vscode-server/data/User/History/-7260770b/uyFC
.lesshst
/.idea/dataSources/2836b675-1d38-4c24-911e-27e5f5b7f9b7.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/sqldialects.xml
/.idea/dataSources/2836b675-1d38-4c24-911e-27e5f5b7f9b7/storage_v2/_src_/schema/teltonica_dev.BfSG6w.meta
/.idea/dataSources/2836b675-1d38-4c24-911e-27e5f5b7f9b7/storage_v2/_src_/schema/teltonica_dev.BfSG6w.zip
