/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  width: 100%;
}

.main-content.with-side-nav {
  margin-left: 60px; /* Ancho de la barra lateral cuando está contraída */
}

/* Cuando la barra lateral está expandida */
.side-nav.expanded + .main-content.with-side-nav {
  margin-left: 250px; /* Ancho de la barra lateral cuando está expandida */
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b9fd4;
  color: white;
  padding: 20px;
  position: relative;
}

.App-logo {
  height: 60px;
  position: absolute;
  left: 20px;
}

.clock {
  position: absolute;
  right: 20px;
}

.header h1 {
  flex: 1;
  margin: 0;
}

.map-container {
  margin: 20px;
  width: calc(100% - 40px);
}

.query-section {
  background-color: #e7e7e7;
  padding: 20px;
  margin: 20px;
  width: calc(100% - 40px);
}

.data-table-container {
  margin: 20px;
  width: calc(100% - 40px);
}

button {
  background-color: #6b9fd4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #5a8ec3;
}

input[type="datetime-local"] {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 16px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #6b9fd4;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.icon-legend {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  color: #D3DDE6;
}

.icon-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.icon-item img {
  height: 30px;
  margin-right: 10px;
}

.icon-item span {
  font-size: 14px;
}

.icon-item:last-child {
  margin-right: 0;
}

.content {
  padding: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .map-container,
  .query-section,
  .data-table-container {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .icon-legend,
  .icon-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .App-header {
    flex-direction: column;
  }

  .App-logo,
  .clock {
    position: static;
    margin-bottom: 10px;
  }

  .map-container {
    height: 300px;
  }

  .query-section input[type="datetime-local"],
  .query-section button {
    width: 100%;
    box-sizing: border-box;
  }

  .main-content.with-side-nav {
    margin-left: 0;
  }

  .side-nav {
    width: 100%;
    height: auto;
    position: static;
  }

  .side-nav-item {
    flex-direction: column;
    text-align: center;
  }

  .side-nav-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}