/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido horizontalmente */
  background-color: #6b9fd4;
  color: white;
  padding: 20px;
  position: relative;
}

.App-logo {
  height: 60px;
  position: absolute;
  left: 20px;
}

.clock {
  position: absolute;
  right: 20px;
}

.header h1 {
  flex: 1;
  margin: 0;
}

.map-container {
  margin: 20px;
}

.query-section {
  background-color: #e7e7e7;
  padding: 20px;
  margin: 20px;
}

.data-table-container {
  margin: 20px;
}

button {
  background-color: #6b9fd4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #6b9fd4;
}

input[type="datetime-local"] {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
