/* Aplicación de la paleta de colores y fuente Roboto */
body, input, button, table {
  font-family: 'Roboto', sans-serif;
}

/* Colores */
:root {
  --deep-blue: #043353;
  --light-blue: #18A4E0;
  --light-gray: #FAF8F0;
  --gray: #D3DDE6;
}

/* Estilos específicos para los componentes */
.header, .footer {
  background-color: var(--deep-blue);
  color: var(--light-gray);
}

.button-primary {
  background-color: var(--light-blue);
  color: var(--gray);
}

.table-header {
  background-color: var(--gray);
}

.map-container {
  border-color: var(--light-blue);
}
