.dashboard {
  padding: 20px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.date-picker {
  margin-bottom: 20px;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.chart-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-section h2 {
  text-align: center;
  margin-bottom: 10px;
}

.chart-divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .chart-row {
    flex-direction: column;
    align-items: center;
  }

  .chart-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .chart-divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
  }
}

.current-status-label {
  background-color: black;
  color: #4CAF50;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.temperature-gauges {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.thermometer-container {
  text-align: center;
  margin: 10px;
  position: relative;
}

.thermometer-container h3 {
  margin-bottom: 10px;
}

.temperature-value {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background-color: rgba(47, 45, 45, 0.587);
  padding: 5px 10px;
  border-radius: 5px;
}

.temperature-time {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
