/* HistoricalMovementsSearch.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.device-selection,
.date-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.time-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.time-selection label {
    margin-right: 10px;
}

.time-selection input {
    width: 60px;
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
}

.search-container select,
.search-container input[type="date"],
.search-container button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.map-container {
    width: 100%;
    height: 600px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
}

.data-table-container {
    position: relative;
    z-index: 1;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #6b9fd4;
    font-weight: bold;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }
    .search-container select,
    .search-container input,
    .search-container button {
        font-size: 14px;
    }
    .map-container {
        height: 300px;
    }
    .data-table td {
        font-size: 12px;
    }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .search-container select,
    .search-container input,
    .search-container button {
        font-size: 15px;
    }
    .map-container {
        height: 350px;
    }
}
