.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #6b9fd4;
}

.image-container {
  position: relative;
  width: 100%;
}

.map-image {
  width: 100%;
  height: auto;
}

.center-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
  height: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
  margin-top: 20px; /* Cambiado de -30px a 20px */
  position: relative; /* Añadido */
  top: 50px; /* Añadido para bajar todo el contenido 50px */
}


.form-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
}

.bottom-left-image {
  width: 15%;
  height: auto;
  align-self: flex-end;
}

.right-image {
  width: 30%;
  height: auto;
  align-self: flex-end;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.form-container button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #6b9fd4;
  color: white;
  margin-top: auto;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}