/* MapWithQuadrants.css */

/* Ejemplo en un archivo CSS específico, como Header.css */
.header {
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --plano-width: 49%; /* Ajusta este valor para cambiar el tamaño del plano */
    --color-verde: #4CAF50;
    --color-verde-letra: white;
    --color-amarillo: rgb(218, 218, 45);
    --color-amarillo-letra: black;
    --color-rojo: rgb(190, 74, 74);
    --color-rojo-letra: white;
  }
  
  .map-with-quadrants {
      text-align: center;
  }
  
  .plano-container {
      margin: 20px auto;
      width: 90%; /* Ajustar el ancho al 90% para dispositivos móviles */
  }
  
  .plano-oficina {
      width: var(--plano-width);
      height: auto;
      border: 1px solid #ddd;
  }
  
  .beacon-logs-table {
      width: 90%; /* Ajustar el ancho al 90% para dispositivos móviles */
      margin: 20px auto;
      border-collapse: collapse;
  }
  
  .beacon-logs-table th,
  .beacon-logs-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
  }
  
  .beacon-logs-table th {
      background-color: #6b9fd4;
      color: white;
  }
  
  .beacon-logs-table tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  
  .beacon-logs-table .green {
      background-color: var(--color-verde);
      color: var(--color-verde-letra);
  }
  
  .beacon-logs-table .yellow {
      background-color: var(--color-amarillo);
      color: var(--color-amarillo-letra);
  }
  
  .beacon-logs-table .red {
      background-color: var(--color-rojo);
      color: var(--color-rojo-letra);
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
      .plano-container {
          width: 100%; /* Ajustar el ancho al 100% para dispositivos móviles */
      }
      .beacon-logs-table {
          width: 100%; /* Ajustar el ancho al 100% para dispositivos móviles */
      }
  }
  