/* src/Menu.css */
.menu {
    background-color: #6b9fd4;
    overflow: hidden;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra el menú horizontalmente */
  }
  
  .menu ul li {
    float: left;
    margin-right: 10px; /* Añadir espacio entre los botones */
  }
  
  .menu ul li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último botón */
  }
  
  .menu ul li a {
    display: block;
    color: white; /* Cambia el color de texto a blanco */
    background-color: #6aabef; /* Cambia el fondo a azul */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .menu ul li a:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
  }