/* PersonSearch.css */
.person-search {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.plano-sectores {
    max-width: 50%;
    height: auto;
}
