.presencia {
  text-align: center;
  padding: 20px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 0;  /* Eliminar padding para asegurar que las barras ocupen todo el espacio */
  text-align: center;
  height: 40px;  /* Ajustar altura según el diseño */
}

th {
  background-color: #6b9fd4;
  color: white;
}

tbody tr {
  border-bottom: 2px solid #6b9fd4;  /* Separación entre sectores */
}

.status-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.status-bar {
  width: 80%;  /* Ajustar el ancho de la barra */
  height: 80%;  /* Ajustar la altura de la barra */
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;  /* Asegurarse de que la tooltip ocupa toda la celda */
  height: 100%;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
