/* Ejemplo en un archivo CSS específico, como Header.css */
.header {
  font-family: 'Roboto', sans-serif;
}

.select-routine {
    text-align: center;
    padding: 20px;
  }
  
  .routine-sectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .routine-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  
  .routine-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 45%; /* Ajusta este valor según sea necesario */
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
  }
  
  .routine-image {
    width: 100%; /* Ajusta este valor según sea necesario */
    height: auto;
    border-radius: 8px;
  }
  
  .routine-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .routine-button:hover {
    background-color: #0056b3;
  }
  