.select-routine {
  text-align: center;
  padding: 20px;
}

.routine-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.routine-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  height: 400px; /* Establecer una altura fija para todas las tarjetas */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.2s;
}

.routine-card:hover {
  transform: scale(1.05);
}

.routine-image {
  width: 100%;
  max-width: 150px; /* Establecer un tamaño máximo de ancho */
  height: auto;
  margin: 20px 0; /* Espacio entre la imagen y el borde superior/inferior */
}

.routine-content {
  padding: 15px;
  text-align: center;
  flex-grow: 1; /* Hacer que el contenido ocupe el espacio disponible */
}

.routine-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.routine-button {
  width: calc(100% - 30px); /* Ajustar el ancho del botón dentro del padding */
  padding: 10px;
  background-color: #6b9fd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px; /* Espacio entre el botón y el borde inferior */
}

.routine-button:hover {
  background-color: #5a88c6;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5a6268;
}
