/* SelectRoutine.css */
.select-routine {
  text-align: center;
}

.routine-sectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.routine-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.routine-sector {
  position: relative;
  width: 300px;
  text-align: center;
}

.routine-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.routine-image {
  width: 100%;
  height: auto;
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.routine-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.routine-button:hover {
  background-color: #0056b3;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5a6268;
}
